extends layout

block content
  .container-fluid.d-flex.align-items-center.justify-content-center.h-100.mt-5
    .row
      .col-sm-12.text-center
        h2 Welcome to the Contact Database Application
        p This application allows you to manage your contacts easily.
        a.btn.btn-primary(href="/contacts") View Contacts Database
