extends layout

block content
  .container.mt-5
    .row
      .col-sm-8.offset-sm-2
        .d-flex.justify-content-between.align-items-center.mb-3
          h2.mb-0= pageTitle
          a.btn.btn-primary(href=`/contacts`)
            i.fa.fa-arrow-left.mr-2
            | Back to Contact Details
        form(action="/contacts", method="POST")
          .form-group
            label(for="firstName") First Name:
            input#firstName.form-control(type="text", name="firstName", required)
          .form-group
            label(for="lastName") Last Name:
            input#lastName.form-control(type="text", name="lastName", required)
          .form-group
            label(for="email") Email Address:
            input#email.form-control(type="email", name="email")
          .form-group
            label(for="notes") Notes:
            textarea#notes.form-control(name="notes", rows="3")
          button.btn.btn-primary(type="submit") Save
